In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [4]:
import seaborn as sns

In [5]:
from textblob import TextBlob

In [6]:
from wordcloud import WordCloud

In [7]:
df=pd.read_csv(r"C:\Users\ladwa\Desktop\forproj\video_comments_data.csv")

In [8]:
df.head(10)

,video_id,comment,likes,views,dislikes
0,8PRIUW9WCZK,0xPijyxdmneGoKV2JV,5802,599609,4852
1,GQ6FK6J047N,9YofiugYX6c3QsRDKa5L16pb2tqDLrXx3poi7z Qdqf1c4Kn,3128,44615,501
2,3EC3E7D2DIV,rTbZPdHE1iAHl5ISAMOhZC600Gwrm5Yos,9342,427805,2215
3,LWWLLLZEDWX,FDsx8vRfoWGgPOWocdn,1117,625531,815
4,A2PWA7IIW1Z,0LcD1Mv7R70wx0Cc c02OpaAAJsP3zYu4tUxmFI,8507,710475,1759
5,70O34UVE16M,bKjEn3SvF0RPi7CX3Ijx7vo1CuwQJbYmcp9RqV7oYSTF347KU,8268,371232,3552
6,NAVYQVGTZT3,bhip 1Pt FA1tu8,5673,230033,4860
7,43H30A9S4G3,fR04I9Plenh0 G6MTeD,3347,441649,4412
8,7JOFHUK4QH9,JSf5qpkg9HBiKP7FGHYZ oVCDSOufOZ,358,291541,4117
9,XVV5ST8CLT3,HIoAMRwMsh1L51bu1QRaJZEAKu,4815,36522,3590

In [9]:
df1=pd.read_csv(r"C:\Users\ladwa\Desktop\forproj\video_comments_simple_english.csv")

In [10]:
df1.head()

      video_id                      comment  likes   views  dislikes
0  8PRIUW9WCZK          Thanks for sharing.   5802  599609      4852
1  GQ6FK6J047N  Subscribed because of this!   3128   44615       501
2  3EC3E7D2DIV     I enjoyed watching this.   9342  427805      2215
3  LWWLLLZEDWX     I enjoyed watching this.   1117  625531       815
4  A2PWA7IIW1Z         I love this content!   8507  710475      1759

In [11]:
content=['cooking', 'experiment', 'tutorial', 'tutorial', 'study', 'tutorial', 'dance', 'crafts', 'entertainment', 'cooking',
 'study', 'art', 'entertainment', 'song', 'cooking', 'art', 'entertainment', 'study', 'crafts', 'entertainment',
 'entertainment', 'tutorial', 'experiment', 'crafts', 'crafts', 'study', 'art', 'entertainment', 'entertainment', 'study',
 'cooking', 'art', 'cooking', 'study', 'entertainment', 'cooking', 'tutorial', 'cooking', 'study', 'tutorial',
 'crafts', 'crafts', 'dance', 'cooking', 'cooking', 'tutorial', 'crafts', 'experiment', 'dance', 'dance',
 'art', 'art', 'cooking', 'study', 'entertainment', 'study', 'tutorial', 'art', 'entertainment', 'art',
 'experiment', 'art', 'crafts', 'entertainment', 'dance', 'entertainment', 'entertainment', 'crafts', 'dance', 'experiment',
 'cooking', 'tutorial', 'study', 'art', 'entertainment', 'crafts', 'entertainment', 'tutorial', 'entertainment', 'tutorial',
 'art', 'art', 'study', 'study', 'experiment', 'crafts', 'entertainment', 'entertainment', 'art', 'cooking',
 'cooking', 'art', 'dance', 'experiment', 'song', 'tutorial', 'tutorial', 'study', 'art', 'art']

In [13]:
df1["Content"]=content

In [14]:
df1.columns

Index(['video_id', 'comment', 'likes', 'views', 'dislikes', 'Content'], dtype='object')

In [21]:
#TextBlob (Sentiment Analysis) Based:
#Use TextBlob to calculate the sentiment polarity of each comment and store it in a new column.
#12Count how many comments are classified as:Positive (polarity > 0)
Polarity=[]
for comm in df['comment']:
    TextBlob(comm).sentiment.polarity
    Polarity.append(TextBlob(comm).sentiment.polarity)

print(Polarity)

[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [22]:
polarity=[]
for comments in df["comment"]:
    TextBlob(comments).sentiment.polarity
    polarity.append(TextBlob(comments).sentiment.polarity)

print(polarity)

[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]